LIVEKIT_URL=<your LiveKit server URL>
LIVEKIT_API_KEY=<your API Key>
LIVEKIT_API_SECRET=<your API Secret>
LIVEKIT_CONTROLLER_TOKEN=<generated token for the controller app>
ROOM_NAME=<your room name>
ROVER_PORT=/dev/serial0